@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu:wght@500&display=swap');

:root {
    --bg-color: #fff;
    --main-color: #080909;
    --caret-color: #537997;
    --sub-color: #4d6f8b;
    --sub-alt-color: #f2f0e9;
    --sub-alt-color2: #99947f;
    --text-color: #080909;
    --error-color: #c87e74;
    --colorful-error-color: #a56961;
    --colorful-error-color: #c87e74;
    --hello-color: #c3af5b;
    --font1: 'Roboto Mono', monospace;
    --font2: 'Ubuntu', sans-serif;
}


/* .show-password,
.clear-input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
} */

.login_app{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
}
.login_container{
    display:flex;
    flex-direction: column;
    height: 70vh;
    width: 35vw;
    background-color: #f9f8f3;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
}
.loginpage_input_container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}
.headtitle1_loginpage {
    font-size: 2rem;
    font-family: var(--font1);
    margin: 40px 20px 45px; 
}
#loginpage-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}